.body{
padding-left: 275px;
}
.inputtext{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.input{
    width: 550px;
    height: 40px;
    padding: 2px;
    margin: 5px;
}
.nav-login{
    display: flex;
    align-items: center;
    gap: 45px;
}
.btn{
    height:  42px;
    width: 150px;
    padding-bottom:10px;
}
.quote{
    width: 710px;
    height: 80px;
    background-color: rgb(70, 68, 68);
    border-radius: 5px;
}
h1{
    padding-left: 450px;
}
h5{
    padding-left: 500px;
}
